<!-- ko ifnot: settings.plugins.psucontrol -->
<span class="help-inline label label-important">This plugin requires <a href="https://plugins.octoprint.org/plugins/psucontrol/" target="_blank">PSU Control</a> in order to function. It can be installed from the Plugin Manager.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.switchingMethod() === "PLUGIN" && settings.plugins.psucontrol.switchingPlugin() === "psucontrol_openhab3") -->
    <span class="help-inline label label-important">Please set the switching method to <b>PLUGIN</b> and the switching plugin to <b>PSU Control - openHAB3</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<!-- ko if: settings.plugins.psucontrol && !(settings.plugins.psucontrol.sensingMethod() === "PLUGIN" && settings.plugins.psucontrol.sensingPlugin() === "psucontrol_openhab3") -->
    <span class="help-block label label-important">Please set the sensing method to <b>PLUGIN</b> and the sensing plugin to <b>PSU Control - openHAB3</b> in the PSU Control settings to use this plugin.</span>
<!-- /ko -->
<form class="form-horizontal">
    <h4>PSU Control - openHAB3 settings</h4>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_openhab3.address">
            <span class="help-block">The IP address or hostname of your openHAB3 server. e.g. http://ip:port or http://hostname:port. Do not include a trailing slash /</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Authorization Method</label>
        <div class="controls">
            <select data-bind="value: settings.plugins.psucontrol_openhab3.authorizationMethod">
                <option value="TOKEN">Access Token</option>
                <option value="BASIC">Username & Password (Basic Authorization)</option>
            </select>
        </div>
    </div>
    <!-- ko if: settings.plugins.psucontrol_openhab3.authorizationMethod() === "TOKEN" -->
    <div class="control-group">
        <label class="control-label">Access Token</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_openhab3.api_key">
            <span class="help-block">The API access token generated by openHAB3. See <a href="https://github.com/Tomatenjoghurt/OctoPrint-PSUControl-openHAB3#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: settings.plugins.psucontrol_openhab3.authorizationMethod() === "BASIC" -->
    <div class="control-group">
        <label class="control-label">Basic Auth Username</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_openhab3.basic_username">
            <span class="help-block">The Username to access openHAB3. See <a href="https://github.com/Tomatenjoghurt/OctoPrint-PSUControl-openHAB3#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
        <div class="control-group">
        <label class="control-label">Basic Auth Password</label>
        <div class="controls">
            <input type="password" class="input" data-bind="value: settings.plugins.psucontrol_openhab3.basic_password">
            <span class="help-block">The Password to access openHAB3. See <a href="https://github.com/Tomatenjoghurt/OctoPrint-PSUControl-openHAB3#configuration" target="_blank">plugin configuration</a> for more info.</span>
        </div>
    </div>
    <!-- /ko -->
    <div class="control-group">
        <label class="control-label">Item Name</label>
        <div class="controls">
            <input type="text" class="input" data-bind="value: settings.plugins.psucontrol_openhab3.item_name">
            <span class="help-block">The Name of the Item you'd like to control. Can be anything supporting the turn_on/turn_off services, but a switch would make the most sense.</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.psucontrol_openhab3.verify_certificate"> Verify certificate
            </label>
            <!-- ko if: settings.plugins.psucontrol_openhab3.verify_certificate() -->
            <span class="help-block">Verify TLS certificate and do not connect on certificate issues.</span>
            <!-- /ko -->
            <!-- ko ifnot: settings.plugins.psucontrol_openhab3.verify_certificate() -->
            <span class="help-block">Do not verify TLS certificate.</span>
            <!-- /ko -->
        </div>
    </div>
</form>
